@media (min-width: 1200px) { 
  #col-members {
    /*padding-right: 120px;*/
    /*padding-left: 240px;*/
  }

  #col-new-member {
    /*padding-right: 240px;*/
    /*padding-left: 120px;*/
  }
}

@media(min-width: 767px) {
  .desktop-hide {
    display: none;
  }

  .col-name {
    width: 30%;
  }

  .col-datejoined {
    width: 20%;
  }

  .col-phone {
    width: 25%
  }

  .col-valid {
    width: 20%;
  }
}

@media(max-width:767px){
  .mobile-hide {
    display: none;
  }

  .col-name {
    width: 15%;
  }

  .col-datejoined {
    width: 27.5%;
  }

  .col-phone {
    width: 37.5%
  }

  .col-valid {
    width: 15%;
  }
}

.container-main {
  margin-top: 50px;
}

.sv-help-block {
  margin-top: 1px;
  margin-bottom: 0;
}